<!DOCTYPE html>
<html lang="en">
<body background="twitter4.jpg">
<body text="white">
<style>
     body {text-align:center}
 </style>
  
        <h1 class="display-4">Is it Possible to go Viral on Twitter with a Machine-Created Tweet?</h1>
            <p align="left">
           Every day, over 500 million tweets are tweeted every day. 
         Most of them will only be seen by a handful of people, 
         but some of them are shared quickly by a large group of Twitter users. 
         When this is the case, a tweet is considered to be "going viral". 
         The goal of this project is to develop a machine learning model that will be able to 
         learn what makes a tweet successful,and based on that, the model will eventually be able 
         to produce high-quality tweets that have a good chance to go viral. </p>
    
       <h2>Enter a word to generate a tweet: </h2>
        
        <form action="/generate_tweet">
          <label for="word">Enter a word:</label><br>
          <input type="text" id="word" name="word"><br>
          <input type="submit" value="Submit">
        </form> 
         
        
  </body>
</html>
